@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  background-color: rgb(160, 201, 221);
  color: aliceblue;
  text-align: center;
}

body,
input#guess-btn,
input#guess-input {
  font-family: 'Silkscreen', cursive;
}

input {
  border: 1px solid;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.card {
  flex-flow: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
